.main{
  width: 1387px;
  height: 680px;
  display: flex;
}

.rt_main{
  width: 1186px;
  height: 680px;
  margin-left: 16px;
  /*border: 1px solid red;*/
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(118,118,118,0.30);
}
.rt_menu >>> .el-menu--horizontal>.el-menu-item.is-active{
  border-bottom: 4px solid #00bda5;
  font-size: 14px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: left;
  color: #333333;
  padding: 0 0px;
  margin: 0 20px;
  margin-left: 37px;
}
.rt_menu >>>  .el-menu--horizontal>.el-menu-item{
  padding: 0 0px;
  margin: 0 20px;
}

.rt_search{
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 9px;
}
.rt_search_title{
  margin-left: 32px;
}
.rt_search_input{
  margin-left: 9px;
}
.rt_search_btn{
  margin-left: 24px;
}
.rt_search_input >>> .el-input__inner{
  height: 28px;
}
.rt_search_input >>>  .el-input__clear{
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.rt_search_btn >>> .el-button--primary{
  background-color:#00BDA5;
  border-color: #00BDA5;
  height: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding:0;
  width: 84px;
}


.rt_table{
  margin-left: 19px;margin-right: 21px;
  height: 512px;

}

.rt_table /deep/ .cell:empty::before {
  content: "--";
  color: #ccc;
}

.tisi_pccs_col{
  height: 38px;
  display: flex;
  padding-left: 17px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  /*border: 1px solid red;*/
}

.rt_table_page{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}







.base_pcCourseSource >>> .el-dialog{
  border-radius: 4px;
}
.base_pcCourseSource >>> .el-dialog__header{
  display: flex;
  padding-bottom: 0px;
}

.base_pcCourseSource >>> .el-dialog__title{
  border-bottom: 4px solid #00bda5;
  font-size: 16px;
  font-family: PingFang SC, PingFang SC-Medium;
  font-weight: 500;
  text-align: left;
  color: #3f3f3f;
  padding-bottom: 12px;
}
.base_pcCourseSource >>> .el-dialog__body{
  padding: 0;
}
.aus_main{
  width: 440px;
  /*border: 1px solid red;*/
  min-height: 550px;
  /*display: flex;*/
  /*flex-direction: column;*/
  margin-top: 4px;
  /*margin-bottom: 20px;*/

}
.aus_line1{
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.aus_title1{
  display: flex;
  align-items: center;
}
.aus_title1 span{
  display: flex;
  align-items: center;
  color: red;
  margin-top: 4px;
}
.aus_title1{
  width: 77px;
}
.aus_input{

}
.aus_content1 >>> .el-input__inner{
  height: 32px;
}
.aus_content1 >>>  .el-input__clear{
  display: flex;
  align-items: center;
}
.aus_content1 >>> .el-input__icon{
    line-height: 32px !important;
  }
/*复选框改单选框，方框改圆框*/
.aus_content1 >>> .el-checkbox__inner{
  border-radius: 8px;
  width:16px;
  height:16px;
}
/*复选框改单选框，改背景*/
.aus_content1 >>> .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #00BDA5;
  border-color: #00BDA5;
  border-radius: 8px;
}
/*复选框改单选框，字体样式*/
.aus_content1 >>> .el-checkbox__input.is-checked+.el-checkbox__label{
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #252525;
}
.aus_content1 >>> .el-checkbox__label{
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #252525;
}
/*复选框改单选框，打钩位置*/
.aus_content1 >>> .el-checkbox__inner::after{
  left: 5px;
  top: 2px;
}

.aus_cbx2_all{
  display: flex;
}
.aus_content2 >>> .el-checkbox__inner{
  width:16px;
  height:16px;
}
.aus_content2 >>> .el-checkbox__inner::after{
  left: 5px;
  top: 2px;
}
.aus_content2 >>> .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #00BDA5;
  border-color: #00BDA5;
}
.aus_content2 >>> .el-checkbox__input.is-checked+.el-checkbox__label{
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #252525;
}
.aus_content2 >>> .el-checkbox__label{
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #252525;
}
.aus_cbx2_body >>>.el-checkbox{
  margin: 0;
  margin-top: 10px;
}
.aus_cbx2_body >>> .el-checkbox-group{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.aus_cbx2_all >>>.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #00BDA5;
  border-color: #00BDA5;
}
.aus_content2 >>> .el-checkbox__inner:hover{
  border-color: #00BDA5;
}

.aus_line2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /*align-items: flex-start;*/
  /*margin-top: 16px;*/
}
.aus_title2{
  /*display: flex;*/
  /*align-items: center;*/
  /*float: left;*/
}
.aus_title2 span{
  display: flex;
  align-items: center;
  color: red;
  margin-top: 4px;
}
.aus_title2{
  width: 77px;
}
.aus_upfile_bg{
  width: 100px;
  height: 66px;
  /*border: 1px solid red;*/
  background-size: 99%;
  background-repeat: no-repeat;
  /*cursor: pointer;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;

}
.aus_upfile_jia{
  width: 12px;
  height: 12px;
  background-size: 99%;
  background-repeat: no-repeat;
  margin-top: 5px;
}
.aus_upfile_txt{
  margin-top: -5px;
  font-size: 12px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #9f9f9f;
  display: flex;
  justify-content: center;
}
.aus_upfile_tp1{
  width: 230px;
  height: 29px;
  font-size: 12px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #9f9f9f;
  line-height: 16px;
  margin-left: 16px;
}





/*.rt_search_btn{
  margin-left: 24px;
}*/
/*.aus_confirm_btn >>> .el-input__inner{
  height: 28px;
}
.aus_confirm_btn >>>  .el-input__clear{
  display: flex;
  align-items: center;
}*/
.aus_confirm_btn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /*flex-direction: row-reverse;*/
}
.aus_confirm_btn >>> .el-button{
  height: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding:0;
  width: 84px;
}
.aus_confirm_btn >>> .el-button--primary{
  background-color:#00BDA5;
  border-color: #00BDA5;
  height: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding:0;
  width: 84px;
}


.cs_teaSel >>> .el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #F3F9F9;
}
.aus_content3 >>> .el-select .el-input.is-focus .el-input__inner {
  border-color: #00BDA5;
}
.aus_content3 >>>.el-select .el-input__inner:focus{
  border-color: #00BDA5;
}

/*右侧个人信息展示*/
.right_mes{
  position: absolute;
  left: 12px;
  top: 93px;
}
.font_mes{
  margin-left: 16px;
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #8d8d8d;
  line-height: 40px;
  letter-spacing: 1.5px;
}
.font_mes2{
  margin-left: 26px;
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #0d0d0d;
  line-height: 40px;
  letter-spacing: 1px;
}

.leftMenuIcoDiv{
  margin-top: -20px;
}

.font_mes3{
  margin-left: 12px;
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #8d8d8d;
  line-height: 40px;
  letter-spacing: 1.5px;
}
.font_mes4{
  margin-left: 14px;
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 400;
  text-align: left;
  color: #0d0d0d;
  line-height: 40px;
  letter-spacing: 0.5px;
}

.font_mes5{
  margin-left: 14px;
  font-size: 14px;
  font-family: PingFang SC, PingFang SC-Regular;
  font-weight: 500;
  text-align: left;
  color: #00BDA5;
  line-height: 40px;
  letter-spacing: 0.5px;
}

/*修改密码*/
.leftMenuIcoDiv2{
  margin-left: -90px;
  margin-top: -45px;
}

.right_up{
  position: absolute;
  left: 12px;
  top: 129px;
}

/deep/.el-input--suffix .el-input__inner {
  padding-right: 10px;
}

/deep/.el-button--primary {
   border-color: #FFFFFF;
}




